services:
  baio_backend:
    volumes:
      - static:/static
      - sqllite_db:/BAiO_Backend/db
      - django_logs:/logs
    build:
      context: .
    expose:
      - 8000
    restart: always
    
  nginx:
    build: ./nginx
    volumes:
      - static:/static #this is to make sure /static requests are routed to the shared volumne on host machine where django static files are stored
      - nginx_logs:/var/log/nginx # logs available from where we defined in the nginx Dockerfile
      - /etc/letsencrypt:/etc/letsencrypt
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - baio_backend
    restart: always

volumes:
  static:
  sqllite_db:
  django_logs:
  nginx_logs: